* {
	font-family: Hanken Grotesk, sans-serif;
	box-sizing: border-box;

	}

body {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}

.purple {
    display: flex;
    flex-direction: column;
    background: linear-gradient(hsl(252, 100%, 62%), hsl(241, 81%, 54%));
    height: 25rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    align-items: center;
}

p {
    display: flex;
    color: hsl(241, 100%, 89%);
    margin-top: 2rem;
    font-size: 20px;
    flex-direction: column;
}

.seven {
    font-size: 60px;
    color: white;
}

.of100 {
    font-size: 18px;
   color:  hsl(241, 100%, 80%);
   text-align: center;
}

.circle {
    display: flex;
    width: 42%;
    height: 39%;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    justify-content: center;
   
}

