* {
	font-family: Hanken Grotesk, sans-serif;
	box-sizing: border-box;

	}

body {
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100%;
}

.purple {
    display: flex;
    flex-direction: column;
    background: linear-gradient(hsl(252, 100%, 62%), hsl(241, 81%, 54%));
    height: 25rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    align-items: center;
}

p {
    display: flex;
    color: hsl(241, 100%, 89%);
    margin-top: 2rem;
    font-size: 20px;
    flex-direction: column;
}

.seven {
    font-size: 60px;
    color: white;
}

.of100 {
    font-size: 18px;
   color:  hsl(241, 100%, 80%);
   text-align: center;
}

.circle {
    display: flex;
    width: 42%;
    height: 39%;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    justify-content: center;  
}

h1 {
    color: white;
}

.para {
    font-size: 18px;
    text-align: center;
    padding: 0px 20px 0px 20px;
    margin-top: 0px;
    color: hsl(241, 100%, 89%);
    
}

.summary {
    display: flex;
}

h2 {
    margin-left: 15px;
    color: hsl(224, 30%, 27%);
    padding: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 15px;
    font-size: 20px;
   
}

.reaction, .memory, .verbal, .visual {
    display: flex;
    height: 60px;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
   

}

.reaction {
    background-color:hsla(0, 100%, 67%, 0.1);
    color:hsl(0, 100%, 67%);
}

.memory {
    background-color:hsla(39, 100%, 56%, 0.1);
    color:hsl(39, 100%, 56%);
}

.verbal {
    background-color:hsla(166, 100%, 37%, 0.1) ;
    color:hsl(166, 100%, 37%);
}

.visual {
    background-color:hsla(234, 85%, 45%, 0.1);
    color:hsl(234, 85%, 45%);
}

.numbers {
    color: black;
    margin-left: auto;
}

.oneh {
    color: grey;
    margin-left: 5px;
}

.svg {
    margin-right: 15px;
   
}

.button {
    display: flex;
    justify-content: center;  
    margin-top: 20px; 
}

.continue {
    display: flex;
    background-color:hsl(224, 30%, 27%) ;
    border-radius: 40px;
    height: 70px;
    width: 100%;
    align-items: center; 
    justify-content: center;
}

#continue {
    color: white;
    margin: 0px;
}

.continue:hover {
    cursor: pointer;
}


@media only screen and (min-width: 600x){

}


@media only screen and (min-width: 1440px) {
body {
    flex-direction: row;
}

}
    
